<style>
    body{
        font-family: 'Abril Fatface', sans-serif;
        font-size: 16px;
        color: #838383;
    }
    h1{
        color:rgb(217, 173, 173);
        font-size: 32px;
    }
    .accordion{
        font-family: 'Signika Negative', sans-serif;
    }
</style>